---
import Layout from "../layouts/Layout.astro";
import TitleBar from "../components/Window/TitleBar.astro";
import ContentArea from "../components/Window/ContentArea.astro";
import Promt from "../components/Terminal/Promt.astro";
import BlinkingCursor from "../components/Terminal/BlinkingCursor.astro";
import Highlight from "../components/Terminal/Highlight.astro";
import ContactLink from "../components/Terminal/ContactLink.astro";

import Star from "../images/Star.svg";
import Polygon from "../images/Polygon.svg";
import Polygon2 from "../images/Polygon 2.svg";
import Ellipse from "../images/Ellipse.svg";

const contactLinks: { link: string; label: string }[] = [
	{ link: "https://github.com/qhungg289", label: "Github" },
	{ link: "https://facebook.com/qhungg289", label: "Facebook" },
	{ link: "https://twitter.com/qhungg289", label: "Twitter" },
	{ link: "mailto:duongquanghung749@gmail.com", label: "Email" },
];
---

<Layout title="Hung Duong Quang">
	<div class="z-10 mx-8 max-w-screen-md rounded-xl shadow-hard">
		<TitleBar title="Hung Duong Quang" />
		<ContentArea>
			<Promt>cowsay "hi"</Promt>
			<pre>
 ____
&#60; hi &#62;
 ----
		\   ^__^
		 \  (oo)\_______
			(__)\       )\/\
				||----w |
				||     ||
			</pre>
			<Promt>cat greeting.md</Promt>
			<h1 class="font-extrabold"># Hello, I'm Hung Duong Quang.</h1>
			<br />
			<h2 class="font-extrabold">## About me</h2>
			<p>
				I'm a young and aspiring developer living in Viet Nam, whose passion was <Highlight
				>
					**creating an awesome digital experience**
				</Highlight> for your need. I specialize in
				<Highlight>**Web Development**</Highlight>, but I prefer the back-end
				stuff more.
			</p>
			<br />
			<h2 class="font-extrabold">## Contact</h2>
			{contactLinks.map((c) => <ContactLink label={c.label} link={c.link} />)}
			<Promt>
				<BlinkingCursor />
			</Promt>
		</ContentArea>
	</div>

	<img
		class="absolute top-40 left-12 animate-up-and-down-2"
		src={Star}
		alt=""
	/>
	<img
		class="absolute bottom-4 right-14 animate-up-and-down-1 sm:right-36"
		src={Polygon}
		alt=""
	/>
	<img
		class="absolute top-4 right-14 animate-up-and-down-3 sm:right-44"
		src={Ellipse}
		alt=""
	/>

	<img
		class="absolute bottom-28 -left-12 animate-up-and-down-1 sm:bottom-4 sm:left-36 sm:right-44"
		src={Polygon2}
		alt=""
	/>
</Layout>
