---
import "../styles/global.css";

import Star from "../images/Star.svg";
import Polygon from "../images/Polygon.svg";
import Polygon2 from "../images/Polygon 2.svg";
import Ellipse from "../images/Ellipse.svg";

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="text-sm sm:text-base">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link
			href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap"
			rel="stylesheet"
		/>
		<meta name="generator" content={Astro.generator} />
		<meta property="og:image" content="/og.png" />
		<meta property="og:title" content="Hung Duong Quang" />
		<meta property="og:description" content="Hung's personal website." />
		<title>{title}</title>
	</head>
	<body
		class="selection:bg-teal-300 selection:text-zinc-800 h-screen flex items-center justify-center relative"
	>
		<img
			class="absolute top-40 left-12 animate-up-and-down-2"
			src={Star}
			alt=""
		/>
		<img
			class="absolute bottom-4 right-14 sm:right-36 sm:right-12 animate-up-and-down-1"
			src={Polygon}
			alt=""
		/>
		<img
			class="absolute top-4 right-14 sm:right-44 animate-up-and-down-3"
			src={Ellipse}
			alt=""
		/>

		<img
			class="absolute bottom-28 sm:bottom-4 -left-12 sm:left-36 sm:right-44 animate-up-and-down-1"
			src={Polygon2}
			alt=""
		/>
		<slot />
	</body>
</html>
